{% load static %}
<html>
    <head>
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/front-end/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="cdn.jsdelivr.net">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid d-flex flex-column min-vh-100">
            <div class="row bg-primary bg-gradient shadow-lg" style="height:50px;">
                <div class="col-4 col-md-6">
                    <a href="{% url 'landing-page' %}">
                        <img class="img img-fluid mt-1" src="/media/{{ front_page.logo }}" style="height:40px;" alt="">
                    </a>
                </div>
                <div class="col-8 col-md-6 text-end mt-3">
                    {% if request.user.is_authenticated %}
                        <a class="fw-bold text-white text-decoration-none me-5" href="{% url 'home' %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                    {% else %}
                        <a class="fw-bold text-white text-decoration-none me-5" href="{% url 'login-user' %}">Log In</a>
                        <a class="fw-bold text-white text-decoration-none" href="{% url 'create-enduser' %}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
            {% block content %}
            {% endblock %}
            <div class="row h-50 bg-dark mb-0">
                <div class="col-4 col-sm-4 col-md-4 mb-4">
                    <ul>
                        <li><a class="text-secondary" href="{% url 'create-fault-report' %}">Report a fault</a></li>
                        <li><a class="text-secondary" href="{% url 'create-customer-review' %}">Leave a review</a></li>
                    </ul>
                </div>
            <div class="col-4 col-sm-4 col-md-4 mb-4">
                <ul>
                    <li><a class="text-secondary" href="{% url 'home' %}">Dashboard</a></li>
                </ul>
            </div>

            <footer class="mt-auto py-3 bg-dark">
                <div class="container">
                    <div class="col-md-12 text-center border-top pt-3">
                        <strong class="text-white">
                            Copyright &copy; 2026&nbsp;
                            <a href="{% url 'landing-page' %}" class="text-white text-decoration-none">FHS Facilities</a>.
                        </strong>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    </body>
    <script>
    function hideButton(btnId, divId){
      document.getElementById(btnId).classList.add('d-none');
      const textSpan = document.createElement('span');
      textSpan.textContent = 'Processing';
      document.getElementById(divId).appendChild(textSpan);
    }
  </script>
</html>