{% extends 'base-front-end/enduser/login-register-base.html' %}
{% block content %}
<p class="register-box-msg">Sign up</p>
<form action="{% url 'create-enduser' %}" method="post">
    {% csrf_token %}
    <div class="col-12">
        {% for message in messages %}
            {% if message.extra_tags == 'success-create-user' %}
              <div class="callout callout-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-create-user' %}
              <div class="callout callout-danger">
                {{ message }}
              </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input required id="registerFullName" type="text" name="first-name" class="form-control" placeholder="" />
            <label for="registerFullName">First Name</label>
        </div>
        <div class="input-group-text"><span class="bi bi-person"></span></div>
    </div>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input required id="registerFullName" type="text" name="last-name" class="form-control" placeholder="" />
            <label for="registerFullName">Last Name</label>
        </div>
        <div class="input-group-text"><span class="bi bi-person"></span></div>
    </div>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input required id="registerEmail" type="email" name="email" class="form-control" placeholder="" />
            <label for="registerEmail">Email</label>
        </div>
        <div class="input-group-text"><span class="bi bi-envelope"></span></div>
    </div>
    <!-- <div class="input-group mb-1">
        <div class="form-floating">
            <select class="form-control" name="organization-id" id="id-organization" onchange="getLocFromOrg()">
                <option value="" class="fst-italic">Not an organization</option>
                {% for organization in organizations %}
                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                {% endfor %}
                <option value="other">Other</option>
            </select>
            <label for="registerEmail">Organization <small>(Optional)</small></label>
        </div>
        <div class="input-group-text"><span class="bi bi-building"></span></div>
    </div> -->
    <div class="input-group mb-1" id="id-organization-name-div">
        <div class="form-floating">
            <input id="id-organization-name" type="text" name="organization-name" class="form-control" placeholder="" />
            <label for="id-organization-name">Organization Name</label>
        </div>
        <div class="input-group-text"><span class="bi bi-building"></span></div>
    </div>
    <div class="input-group mb-1" id="">
        <div class="form-floating">
            <textarea required id="id-address" type="text" name="address" class="form-control" placeholder=""></textarea>
            <label for="id-address">Address</label>
        </div>
        <div class="input-group-text"><span class="bi bi-pin-map"></span></div>
    </div>
    <div class="input-group mb-1" id="id-postal-code-div">
        <div class="form-floating">
            <input required id="id-postal-code" type="text" name="postal-code" class="form-control" placeholder="" />
            <label for="id-postal-code">Postal Code</label>
        </div>
        <div class="input-group-text"><span class="bi bi-mailbox"></span></div>
    </div>
    <!-- <div class="input-group mb-1">
        <div class="form-floating">
            <select class="form-control" name="location-id" id="id-location" onchange="setLocationName()">
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
                <option value="other">Other</option>
            </select>
            <label for="registerEmail">Location</label>
        </div>
        <div class="input-group-text"><span class="bi bi-pin-map"></span></div>
    </div>
    <div class="input-group mb-1 d-none" id="id-location-name-div">
        <div class="form-floating">
            <input id="id-location-name" type="text" name="location-name" class="form-control" placeholder="" />
            <label for="id-location-name">Location Name</label>
        </div>
        <div class="input-group-text"><span class="bi bi-pin-map"></span></div>
    </div> -->
    <div class="input-group mb-1">
        <div class="form-floating">
            <input required id="registerEmail" type="text" name="phone" class="form-control" placeholder="" />
            <label for="registerEmail">Phone</label>
        </div>
        <div class="input-group-text"><span class="bi bi-phone"></span></div>
    </div>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input required id="registerPassword" type="password" name="password" class="form-control" placeholder="" />
            <label for="registerPassword">Password</label>
        </div>
        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
    </div>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input required id="registerPassword" type="password" name="retype-password" class="form-control" placeholder="" />
            <label for="registerPassword">Retype Password</label>
        </div>
        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
    </div>
    <!--begin::Row-->
    <div class="row">
        <!-- /.col -->
        <div class="col-4">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!--end::Row-->
</form>
{% endblock %}
{% block scripts %}
<script>
const locationMap = new Map();
{% for location in locations %}
    locationMap.set({{ location.id }},'{{ location.name }}');
{% endfor %}
console.log(locationMap);
async function getLocFromOrg(){
    const orgElement = document.querySelector('#id-organization');
    const organizationId = orgElement.value;
    const locElement = document.querySelector('#id-location');
    const organizationNameDiv = document.querySelector('#id-organization-name-div');
    const organizationName = document.querySelector('#id-organization-name');

    if(organizationId == 'other'){
        var options = '';
        locationMap.forEach((name, id)=>{
            options += `<option value='${id}'>${name}</option>`;
        });
        options += `<option value='other'>Other</option>`;
        organizationNameDiv.classList.remove('d-none');
        organizationName.required = true;
    }
    else if(organizationId == ''){
        var options = '';
        locationMap.forEach((name, id)=>{
            options += `<option value='${id}'>${name}</option>`
        });
        options += `<option value='other'>Other</option>`;
        locElement.innerHTML=options;
        organizationNameDiv.classList.add('d-none');
        organizationName.required = false;
    }
    else{
        organizationNameDiv.classList.add('d-none');
        organizationName.required = false;
        const url = `{% url 'get-loc-from-org' %}?organizationId=${organizationId}`;
        try{
            const response = await fetch(url);
            if(!response.ok){
                throw new Error('Error message '+error.message);
            }
            const locations = await response.json();
            console.log(locations);
            locElement.innerHTML='';
            var options = '';
            locations.forEach((loc)=>{
                options += `<option value='${loc.id}'>${loc.name}</option>`;
            });
            options += `<option value='other'>Other</option>`;
            locElement.innerHTML = options;
        }
        catch(error){
            console.log(error.message);
        }
    }
    setLocationName();
}
function setLocationName(){
    const locationElement = document.querySelector('#id-location');
    const locationId = locationElement.value;
    const locationNameDiv = document.querySelector('#id-location-name-div');
    const locationName = document.querySelector('#id-location-name');
    if(locationId == 'other'){
        locationNameDiv.classList.remove('d-none');
        locationName.required = true;
    }
    else{
        locationNameDiv.classList.add('d-none');
        locationName.required = false;
    }
}
</script>
{% endblock %}