{% extends 'base-front-end/admin/base.html' %}
{% block title %}
  <title>
    {{ page_ }}
  </title>
{% endblock %}
{% block content %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">{{ page_ }}</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page_ }}</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12 my-3">
          {% for message in messages %}
            {% if message.extra_tags == 'success-create-user' or message.extra_tags == 'success-delete-user' %}
              <div class="callout callout-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-create-user' or message.extra_tags == 'error-delete-user' %}
              <div class="callout callout-danger">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-12">
          <!-- /.card -->
          <div class="card mb-4">
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Total Reports</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                    <tr class="align-middle">
                      <td>
                        <a class="text-muted fw-bold" title="Customer history" href="{% url 'customer-history' customerEmail=customer.email %}">{{ customer.email }}</a>
                      </td>
                      <td>{{ customer.count }}</td>
                      <td>
                        <a href="{% url 'edit-enduser' email=customer.email %}"><i class="bi bi-pencil"></i></a>
                        <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="text-danger" href="javascript:void(0)" onclick="deleteRecord('this customer?', `{% url 'delete-enduser' email=customer.email %}`)"><i class="bi bi-trash"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
    {% include 'base-front-end/modals/delete-modal.html' %} 
  </div>
  <!--end::App Content-->
</main>
<!--end::App Main-->
{% endblock %}