{% extends 'base-front-end/enduser/base.html' %}
{% block title %}
    <title>{{ page_ }}</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="row bg-secondary-subtle vh-100">
    <div class="col-md-6 my-3 rounded bg-white mx-auto">
        <h3 class="text-center">Change Password</h3>
        <form class="form-group" action="{% url 'change-password' %}" method="POST" enctype="multipart/form-data" onsubmit="hideButton('id-submit-report', 'id-submit-report-div')">
            {% csrf_token %}
            <div class="col-12">
          {% for message in messages %}
            {% if message.extra_tags == 'success-change-password' %}
              <div class="alert text-white bg-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-change-password' %}
              <div class="alert text-white bg-danger">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
            <div class="text-center">
                <h6>Please type and retype your new password.</h6>
            </div>
            <input type="hidden" name="change-password-code" value="{{ code }}">
            <label class="fw-bold" for="">New password</label>
            <input required class="form-control" name="new-password" type="password">
            <label class="fw-bold" for="">Retype password</label>
            <input required class="form-control" name="retype-password" type="password">
            <div id="id-submit-report-div" class="mt-2 text-center">
              <button id="id-submit-report" class="btn btn-primary form-control" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}