{% extends 'base-front-end/enduser/base.html' %}
{% block title %}
    <title>{{ page_ }}</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="row bg-secondary-subtle vh-100">
    <div class="col-md-6 my-3 rounded bg-white mx-auto">
        <h3 class="text-center">Change Password</h3>
        <form class="form-group" action="{% url 'send-change-password-link' %}" method="POST" enctype="multipart/form-data" onsubmit="hideButton('id-change-password-link', 'id-change-password-link-div')">
            {% csrf_token %}
            <div class="col-12">
          {% for message in messages %}
            {% if message.extra_tags == 'success-send-change-password-link' %}
              <div class="alert text-white bg-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-send-change-password-link' %}
              <div class="alert text-white bg-danger">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
            <div class="text-center">
                <h6>Please insert your email that you used while signing up.</h6>
            </div>
            <label class="fw-bold" for="">Your email</label>
            <input required class="form-control" name="email" type="text">
            <div id="id-change-password-link-div" class="mt-2 text-center">
              <button id="id-change-password-link" class="btn btn-primary form-control" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}