{% extends 'base-front-end/admin/base.html' %}
{% block title %}
  <title>{{ page_ }}</title>
{% endblock %}
{% block css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">{{ page_ }}</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page_ }}</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row g-4">
        <!--begin::Col-->
        <div class="col-12">
          {% for message in messages %}
            {% if message.extra_tags == 'success-edit-organization' %}
              <div class="callout callout-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-edit-organization' %}
              <div class="callout callout-danger">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <!--begin::Quick Example-->
          <div class="card card-primary card-outline mb-4">
            <!--begin::Form-->
            <form action="{% url 'edit-organization' %}" method="POST">
              {% csrf_token %}
              <!--begin::Body-->
              <div class="card-body">
                <input type="hidden" name="organization-id" value="{{ organization.id }}">
                <div class="mb-3">
                  <label for="" class="form-label">Location</label>
                  <select class="form-control location-class" name="location-id" id="" multiple>
                    {% for location in locations %}
                      <option value="{{ location.id }}" {% if location.id in selected_locations %}selected{% endif %}>
                        {{ location.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Name</label>
                  <input name="organization-name" value="{{ organization.name }}" class="form-control" id=""/>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="is-active" id="active" value="1" {% if organization.is_active == True %}checked{% endif %}/>
                  <label class="form-check-label" for="active"> Active </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="is-active" id="inactive" value="0" {% if organization.is_active == False %}checked{% endif %}/>
                  <label class="form-check-label" for="inactive"> Inactive </label>
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
              <!--end::Footer-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Quick Example-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
</main>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script defer>
  $(document).ready(function(){
    $('.location-class').select2();
  });
  
</script>
{% endblock %}