<div class="modal fade" id="userDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">User Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="fw-bold mb-0">Name</p>
          <span class="mt-0">John Doe</span>
          <p class="fw-bold mt-2 mb-0">Email</p>
          <span class="mt-0">jogn.doe@gmail.com</span>
          <p class="fw-bold mt-2 mb-0">Total Jobs</p>
          <span class="mt-0">3</span>
          <p class="text-success fw-bold mb-0">Active</p>
      </div>
    </div>
  </div>
</div>