{% extends 'base-front-end/admin/base.html' %}
{% block title %}
  <title>{{ page_ }}</title>
{% endblock %}
{% block content %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">{{ page_ }}</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page_ }}</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row g-4">
        <!--begin::Col-->
        <div class="col-12">
          {% for message in messages %}
            {% if message.extra_tags == 'success-edit-worker' %}
              <div class="callout callout-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-edit-worker' %}
              <div class="callout callout-danger">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <!--begin::Quick Example-->
          <div class="card card-primary card-outline mb-4">
            <!--begin::Form-->
            <form action="{% url 'edit-worker' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!--begin::Body-->
              <div class="card-body">
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Name</label>
                  <input type="hidden" name="worker-id" value="{{ worker.id }}">
                  <input type="text" name="name" value="{{ worker.name }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Trade Name</label>
                  <input type="text" name="trade-name" value="{{ worker.trade_name }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label mb-0">Address</label>
                  <textarea name="address" class="form-control" id="">{{ worker.address }}</textarea>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Post Code</label>
                  <input type="text" name="post-code" value="{{ worker.post_code }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Region</label>
                  <input type="text" name="region" value="{{ worker.region }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Email</label>
                  <input type="email" name="email" value="{{ worker.email }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Contact Number 1</label>
                  <input type="text" name="contact-number1" value="{{ worker.contact_no1 }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Contact Number 2</label>
                  <input type="text" name="contact-number2" value="{{ worker.contact_no2 }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Ethnicity</label>
                  <input type="text" name="ethnicity" value="{{ worker.ethnicity }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Reliability Max</label>
                  <input type="number" name="reliability-max" value="{{ worker.reliability_max }}" class="form-control" min="0" max="10" step="0.01"  oninput="if(this.value.length > 4) this.value = this.value.slice(0, 2);if(this.value > 10){this.value = `{{ worker.reliability_max }}`; alert('Rating must be between 0 and 10 (inclusive)');}"/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Travel Radius</label>
                  <input type="number" name="travel-radius" value="{{ worker.travel_radius }}" class="form-control"/>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Vehicle</label><br>
                  <input type="radio" name="has-vehicle" value="1" {% if worker.vehicle == True %}checked{% endif %} id=""/>Yes
                  <input type="radio" name="has-vehicle" value="0" {% if worker.vehicle == False %}checked{% endif %} id=""/>No
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Out of Hour</label><br>
                  <input type="radio" name="if-ooh" value="1" {% if worker.out_of_hour == True %}checked{% endif %} id=""/>Yes
                  <input type="radio" name="if-ooh" value="0" {% if worker.out_of_hour == False %}checked{% endif %} id=""/>No
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label mb-0">Note</label>
                  <textarea name="note" class="form-control" id="">{{ worker.note }}</textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label mb-0">Rates</label>
                  <input type="number" name="rates" value="{{ worker.rates }}" class="form-control" id=""/>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label mb-0">Specialities</label>
                  <textarea name="specialities" class="form-control" id="">{{ worker.specialities }}</textarea>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label mb-0">Insurance</label><br>
                  <input type="radio" name="has-insurance" value="1" {% if worker.insurance == True %}checked{% endif %} id=""/>Yes
                  <input type="radio" name="has-insurance" value="0" {% if worker.insurance == False %}checked{% endif %} id=""/>No
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label mb-0">Expiry Date</label>
                  <input class="form-control" type="date" name="expiry-date" value="{{ worker.expiry_date|date:'Y-m-d' }}">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label mb-0">Photo</label>
                  <div>
                      <img class="img img-fluid my-1" style="width:100px;" src="/media/{{ worker.photo }}" alt="">
                  </div>
                  <input type="file" name="photo" class="form-control" id="">
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <!--end::Footer-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Quick Example-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
</main>
{% endblock %}