{% extends 'base-front-end/admin/base.html' %}
{% block content %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Edit Job</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Job</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row g-4">
        <!--begin::Col-->
        <div class="col-12">
          {% for message in messages %}
            {% if message.extra_tags == 'success-update-job' %}
              <div class="callout callout-success">
                {{ message }}
              </div>
            {% elif message.extra_tags == 'error-update-job' %}
              <div class="callout callout-danger">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <!--begin::Quick Example-->
          <div class="card card-primary card-outline mb-4">
            <!--begin::Form-->
            <form action="{% url 'edit-job' %}" method="POST">
              {% csrf_token %}
              <!--begin::Body-->
              <div class="card-body">
                <input type="hidden" name="job-id" value="{{ job.id }}">
                <div class="mb-3">
                  <label for="" class="form-label">Job title</label>
                  <input required type="text" name="title" value="{{ job.title }}" class="form-control" id="" aria-describedby="jobTitle" />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Description <small>(Optional)</small></label>
                  <textarea name="description" class="form-control" id="">{% if job.description != None %}{{ job.description }}{% endif %}</textarea>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="is-active" id="active" value="1" {% if job.is_active == True %}checked{% endif %}/>
                  <label class="form-check-label" for="active"> Active </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="is-active" id="inactive" value="0" {% if job.is_active == False %}checked{% endif %}/>
                  <label class="form-check-label" for="inactive"> Inactive </label>
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
              <!--end::Footer-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Quick Example-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
</main>
{% endblock %}