<html>
    <head>
        <title>Edit Job</title>
    </head>
    <body>
        <div>
            <form action="{% url 'edit-job' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="job-id" value="{{ job.id }}">
                <label for="">Title</label>
                <input type="text" name="title" value="{{ job.title }}">
                <label for="">Description</label>
                <textarea name="description">{{ job.description }}</textarea>
                <input type="radio" name="is-active" value="1" {% if job.is_active == True %}checked{% endif %}>Active
                <input type="radio" name="is-active" value="0" {% if job.is_active == False %}checked{% endif %}>Inactive
                <button type="submit">Update</button>
            </form>
        </div>
    </body>
</html>